:root{
    --fondo: #939393;
    
    --fondoHeader: #F8F32B;
	--fondoMain: #EBEBEB;
	--fondoFooter: #222222;

    --alto: 500px;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
	height: auto;
    background-color: var(--fondo);
}

header, main, .final{
    margin: 0 20%;
    box-shadow: 0 20px 50px #000 ;
}

header{
    background-color: var(--fondoHeader);
    color: #fff;
}

.logo-container__link{
    text-decoration: none;
    color: #000;
}

.logo-container__link:hover{
    text-decoration: underline;
    color: #555;	
}

.logo-container__logo{
    font-size: 3em;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.obj{
    display: inline-block;
}

/****************************************************BANDERAS********************************************/
main{
    background-color: var(--fondoMain);
    height: auto;
}

.banderas{
	padding: 3rem;
}

.banderas :last-child{
    margin-bottom: 0;
}

.vid{
    width: 100%;
	height: var(--alto);
    margin-bottom: 3rem;
    border: .01px solid #000;
    font-size: 2rem;
    box-shadow: 5px 10px 10px #0c0c0c;
}

.spain{
	background-image: linear-gradient(to bottom, #C70827 25%,#F8BD00 25% 75%, #C70827 75% 100%);
}

.rusia{
	background-image: linear-gradient(to bottom,#F2F2F2 33%, #103B8F 33% 66%, #E10A26 66% 99%);
}

.alemania{
    background-image: linear-gradient(to bottom, #050505 32%, #E1102D 32% 62%, #F4D100 62% 100%);
    color: #fff;
}

.belgica{
    background-image: linear-gradient(to right,      #050505 34%, #F4D100 34% 67%, #E1102D 67% 100%);
    color: #fff;
}

.andorra{
    background-image: linear-gradient(to right, #011980 30%, #E6DA00 30% 70%, #E00A39 70% 100%);
    text-align: center;
}

.armenia{
    background-image: linear-gradient(to bottom, #e11232 32%, #0b2688 32% 65%, #F08F1F 65% 100%);
}

.dinamarca{
    background-image: linear-gradient(to right,#D00438 30%, #fff 30% 50%, #D00438 50% 100%) ;
}

.rec{
    background-color: #fff;
    display: inline-block;
}

.recta1{
    width: 100%;
    height: 20%;
    z-index: 100;
    position: relative;
    top: 140px;
}

.grecia{
    background-image: linear-gradient(to bottom, #001A75 11%, #fff 11% 22%, #001A75 22% 33%, #fff 33% 44%, #001A75 44% 55%, #fff 55% 66%, #001A75 66% 77%, #fff 77% 88%, #001A75 88% 99%);
}

.cubo{
    color: #fff;
    height: 55%;
    width: 40%;
    background-image: linear-gradient(to right, #001A75 40%, #fff 40% 60%, #001A75 60% 100%);
}

.cubo__cubo{
    width: 100%;
    height: 20%;
    background-color: #fff;
    position: relative;
    top: 28%;

}

.circle{
    height: 10rem;
    width: 11rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #B65AD9 10%, #931ECB 10% 20%, #B65AD9 20% 30%, #931ECB 30% 40%, #B65AD9 40% 50%, #931ECB 50% 60%, #B65AD9 60% 70%, #931ECB 70% 80%, #B65AD9 80% 90%, #931ECB 90% 100%);
}

footer{
    background-color: var(--fondoFooter);
    color: #fff;
}

footer a{
    color: #fff;
}

footer .logo-container__link{
    color: #e1e1e1;
}
