		:root{
			--fondoHeader: #F8F32B;
			--fondoMain: #EBEBEB;
			--fondoFooter: #222222;
		}

		header, main, .final{
			margin: 0 20%;
		}

		body{
			background-image: url(../Media/pexels-photo-3683056.webp);
		}

		header{
			background-color: var(--fondoHeader);
			color: #fff;
		}

		main{
			background-color: var(--fondoMain);
		}

		footer{
			background-color: var(--fondoFooter);
			color: #fff;
		}

		footer a{
			color: #fff;
		}

		.logo-container__link{
			text-decoration: none;
			color: #000;
		}

		.logo-container__link:hover{
			text-decoration: underline;
			color: #555;	
		}

		.logo-container__logo{
			font-size: 3em;
			margin: 0;
		}
		
		img{
			width: 400px;
		}

		ul{
			list-style: none;
		}

		a{
			text-decoration: none;
		}

		.obj{
			display: inline-block;
		}

.sign, .log{
	width: 10vw;
}

		/* Pruebas con degradados */

